<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ictlao.partydraw">

    <uses-permission android:name="android.permission.GET_TASKS" />
    <!--<uses-permission android:name="com.samsung.android.providers.context.permission.WRITE_USE_APP_FEATURE_SURVEY" />-->
    <!--<uses-permission android:name="com.android.vending.BILLING" />-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true" />

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <application
        android:name="com.ictlao.android.app.partydraw.Core.LocaleLanguage"
        android:allowBackup="true"
        android:icon="@mipmap/party_icon18"
        android:label="@string/app_name"
        android:resizeableActivity="false"
        android:roundIcon="@mipmap/party_icon18_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <service android:name="com.ictlao.android.app.partydraw.Core.Services.OreoService"/>

        <activity
            android:name="com.ictlao.android.app.partydraw.Feature.ReceiveMessage.ReceiveMessageActivity"
            android:resizeableActivity="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />

        <!-- Firebase in this below  Start firebase -->
        <service android:name="com.ictlao.android.app.partydraw.Core.Services.MyFirebaseInstanceIDService" />

        <activity
            android:name="com.ictlao.android.app.partydraw.Feature.OnlineJoker.OnlineJokerDraw"
            android:parentActivityName="com.ictlao.android.app.partydraw.Feature.Waiting.Waiting_Activity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:resizeableActivity="false"
            android:launchMode="singleTop"/>
        <activity
            android:name="com.ictlao.android.app.partydraw.Feature.Waiting.Waiting_Activity"
            android:parentActivityName="com.ictlao.android.app.partydraw.Feature.CreateGroup.CreateGroupActivity"
            android:resizeableActivity="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:launchMode="singleTop"/>
        <activity
            android:name="com.ictlao.android.app.partydraw.Feature.CreateGroup.CreateGroupActivity"
            android:parentActivityName="com.ictlao.android.app.partydraw.Feature.Select.SelectGame"
            android:resizeableActivity="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" /> <!-- end firebase -->
        <activity
            android:name="com.ictlao.android.app.partydraw.Feature.Lucky.LuckyGame"
            android:parentActivityName="com.ictlao.android.app.partydraw.Feature.Swap.UserPlayerLucky.User_Player_Lucky_Game"
            android:resizeableActivity="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.ictlao.android.app.partydraw.Feature.Swap.SwapGame"
            android:parentActivityName="com.ictlao.android.app.partydraw.Feature.UserPlayerSwap.UserPlayerSwapGame"
            android:resizeableActivity="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.ictlao.android.app.partydraw.Feature.UserPlayerSwap.UserPlayerSwapGame"
            android:parentActivityName="com.ictlao.android.app.partydraw.Feature.Select.SelectGame"
            android:resizeableActivity="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.ictlao.android.app.partydraw.Feature.Swap.UserPlayerLucky.User_Player_Lucky_Game"
            android:parentActivityName="com.ictlao.android.app.partydraw.Feature.Select.SelectGame"
            android:resizeableActivity="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.ictlao.android.app.partydraw.Feature.Joker.JokerGame"
            android:parentActivityName="com.ictlao.android.app.partydraw.Feature.Select.SelectGame"
            android:resizeableActivity="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.ictlao.android.app.partydraw.Feature.Select.SelectGame"
            android:parentActivityName="com.ictlao.android.app.partydraw.Feature.Home.HomeActivity"
            android:resizeableActivity="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.ictlao.android.app.partydraw.Feature.Home.HomeActivity"
            android:resizeableActivity="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>